<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NPGC Helpdesk</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='appstyle.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
</head>

<body>
    <header class="header">
        <img src="{{ url_for('static', filename='npgclogo.png') }}" class="logo">
        <div class="title">NPGC Helpdesk</div>
        <div class="menu-wrapper">
            <span id="menuBtn" class="material-icons menu-icon">menu</span>

            <div id="dropdownMenu" class="dropdown-menu">
                <div class="menu-item" id="downloadChat">Download Chat (PDF)</div>
            </div>
        </div>
    </header>

    <div class="chat-container" id="chatContainer"></div>

    <div id="suggestions" class="suggestions"></div>

    <div id="scrollToBottom" class="scroll-btn">
        <span class="material-icons">keyboard_arrow_down</span>
    </div>

    <div class="input-wrapper">
        <input type="text" id="userInput" placeholder="Ask something">

        <button id="micBtn" class="mic-btn">
            <span class="material-icons mic-icon">mic</span>

            <div class="wave">
                <span></span><span></span><span></span>
            </div>
        </button>

        <button class="send-btn" type="button">
            <span class="material-icons">send</span>
        </button>

    </div>


    <script src="{{ url_for('static', filename='appscript.js') }}"></script>
</body>

</html>
